html, body, .container-fluid{
	margin: 0;
	height: 100%;
	font: 10px arial;
	width:auto;
}
#left{
	float:left;
	width:80%;
}
#right{
	float: right;
	width:20%;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
span .gauge{
	margin-right: 20px;
}
.graphs{
	height: 60%;
	padding-top: 50px;
	padding-left: 150px;
}
.title p{
	font-family: modern;
	font-size: 64px;
	font-style: oblique;
	color: #616161;
	margin-left: 100px;
	margin-top: 10px;
}

.row .gauges{
	padding-left:100px;
}
#service0, #lustre{
	margin-right:100px;
}
#donutt{
	margin-right:100px;
}
rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;
}
text.mono {
	font-size: 10pt;
	font-family: Consolas, courier;
	fill: #000;
}
